<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="DocumentsLocation" value="c:\tmp\PAYE"/> <!-- Where to get email attachment documents from -->
    <add key="DocumentExtension" value="pdf"/> <!-- The type of documents to get -->
    
    <add key="SenderEmailAddress" value="bainstech@hotmail.com"/>  <!--Sender email address-->
    <add key="SenderEmailAccountPassword" value=""/> <!--Sender email account passwors 
                                                            ** !! DO NOT ENTER A PLAIN TEXT PASSWORD HERE YOURSELF !!    **
                                                            ** The Russians could easily hack your email.                **
                                                            ** The application will encrypt and store your password here **  -->
    
    <add key="SmtpAddress" value="smtp-mail.outlook.com"/> <!-- Sender smtp address -->
    <add key="PortNumber" value="587"/> <!-- Port number. Alternative=565. Don't touch unless instructed. -->
    <add key="EnableSSL" value="true"/> <!-- Enable Ssl. Don't touch unless instructed. -->
    
    <!-- Specify emails for each company -->
    <add key="Bainstech" value="info@bainstech.com"/> 
    <add key="DodgyBuilder" value="jsbains74@gmail.com"/>
    <add key="TheSleazyManStripClub" value="jsbains@blueyonder.co.uk" />
    <add key="SinghSuperAutos" value="jsbains7fc@yahoo.com" />
    <!-- Add more emails here...-->
    
  </appSettings>
  
</configuration>