<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="DocumentsLocation" value="C:\Dev\KeytimePayroll\BainsTech.DocMailer\bin\Debug\TestData\Payroll"/> <!-- Where to get email attachment documents from -->
    <add key="DocumentExtension" value="pdf"/> <!-- The type of documents to get -->
    
    <add key="SenderEmailAddress" value="bainstech@hotmail.com"/>  <!--Sender email address-->
    <add key="SenderEmailAccountPassword" value=""/> <!--Sender email account passwords 
                                                          ** !! DO NOT ENTER A PLAIN TEXT PASSWORD HERE YOURSELF !!    **
                                                          ** The application will encrypt and store your password here **  -->
    
    <add key="SmtpAddress" value="smtp-mail.outlook.com"/> <!-- Sender smtp address -->
    <add key="PortNumber" value="587"/> <!-- Port number. Alternative=565. Don't change unless instructed. -->
    <add key="EnableSSL" value="true"/> <!-- Enable Ssl. Don't change unless instructed. -->
    <add key="TestMode" value="true"/> 
    
    <!-- Specify emails for each company -->
    <add key="Bainstech" value="info@bainstech.com"/> 
    <add key="DodgyBuilder" value="jsbains74@gmail.com"/>
    <add key="TheSleazyManStripClub" value="jsbains@blueyonder.co.uk" />
    <add key="SinghSuperAutos" value="jsbains7fc@yahoo.com" />
    <add key="Blacklist" value="jsbains74@gmail.com" />
    <!-- Add more emails here...-->
    <add key="Company1" value="info@Company1.co.uk" />
    <add key="Company2" value="info@Company2.co.uk" />
    <add key="Company3" value="info@Company3.co.uk" />
    <add key="Company4" value="info@Company4.co.uk" />
    <add key="Company5" value="info@Company5.co.uk" />
    <add key="Company6" value="info@Company6.co.uk" />
    <add key="Company7" value="info@Company7.co.uk" />
    <add key="Company8" value="info@Company8.co.uk" />
    <add key="Company9" value="info@Company9.co.uk" />
    <add key="Company11" value="info@Company11.co.uk" />
    <add key="Company12" value="info@Company12.co.uk" />
    <add key="Company13" value="info@Company13.co.uk" />
    <add key="Company14" value="info@Company14.co.uk" />
    <add key="Company15" value="info@Company15.co.uk" />
    <add key="Company16" value="info@Company16.co.uk" />
    <add key="Company17" value="info@Company17.co.uk" />
    <add key="Company18" value="info@Company18.co.uk" />
    <add key="Company19" value="info@Company19.co.uk" />
    <add key="Company21" value="info@Company21.co.uk" />
    <add key="Company22" value="info@Company22.co.uk" />
    <add key="Company23" value="info@Company23.co.uk" />
    <add key="Company24" value="info@Company24.co.uk" />
    <add key="Company25" value="info@Company25.co.uk" />
    <add key="Company26" value="info@Company26.co.uk" />
    <add key="Company27" value="info@Company27.co.uk" />
    <add key="Company28" value="info@Company28.co.uk" />
    <add key="Company29" value="info@Company29.co.uk" />
    <add key="Company31" value="info@Company31.co.uk" />
    <add key="Company32" value="info@Company32.co.uk" />
    <add key="Company33" value="info@Company33.co.uk" />
    <add key="Company34" value="info@Company34.co.uk" />
    <add key="Company35" value="info@Company35.co.uk" />
    <add key="Company36" value="info@Company36.co.uk" />
    <add key="Company37" value="info@Company37.co.uk" />
    <add key="Company38" value="info@Company38.co.uk" />
    <add key="Company39" value="info@Company39.co.uk" />
    <add key="Company41" value="info@Company41.co.uk" />
    <add key="Company42" value="info@Company42.co.uk" />
    <add key="Company43" value="info@Company43.co.uk" />
    <add key="Company44" value="info@Company44.co.uk" />
    <add key="Company45" value="info@Company45.co.uk" />
    <add key="Company46" value="info@Company46.co.uk" />
    <add key="Company47" value="info@Company47.co.uk" />
    <add key="Company48" value="info@Company48.co.uk" />
    <add key="Company49" value="info@Company49.co.uk" />
    <add key="Company51" value="info@Company51.co.uk" />
    <add key="Company52" value="info@Company52.co.uk" />
    <add key="Company53" value="info@Company53.co.uk" />
    <add key="Company54" value="info@Company54.co.uk" />
    <add key="Company55" value="info@Company55.co.uk" />
    <add key="Company56" value="info@Company56.co.uk" />
    <add key="Company57" value="info@Company57.co.uk" />
    <add key="Company58" value="info@Company58.co.uk" />
    <add key="Company59" value="info@Company59.co.uk" />
    <add key="Company61" value="info@Company61.co.uk" />
    <add key="Company62" value="info@Company62.co.uk" />
    <add key="Company63" value="info@Company63.co.uk" />
    <add key="Company64" value="info@Company64.co.uk" />
    <add key="Company65" value="info@Company65.co.uk" />
    <add key="Company66" value="info@Company66.co.uk" />
    <add key="Company67" value="info@Company67.co.uk" />
    <add key="Company68" value="info@Company68.co.uk" />
    <add key="Company69" value="info@Company69.co.uk" />
    <add key="Company71" value="info@Company71.co.uk" />
    <add key="Company72" value="info@Company72.co.uk" />
    <add key="Company73" value="info@Company73.co.uk" />
    <add key="Company74" value="info@Company74.co.uk" />
    <add key="Company75" value="info@Company75.co.uk" />
    <add key="Company76" value="info@Company76.co.uk" />
    <add key="Company77" value="info@Company77.co.uk" />
    <add key="Company78" value="info@Company78.co.uk" />
    <add key="Company79" value="info@Company79.co.uk" />
    <add key="Company81" value="info@Company81.co.uk" />
    <add key="Company82" value="info@Company82.co.uk" />
    <add key="Company83" value="info@Company83.co.uk" />
    <add key="Company84" value="info@Company84.co.uk" />
    <add key="Company85" value="info@Company85.co.uk" />
    <add key="Company86" value="info@Company86.co.uk" />
    <add key="Company87" value="info@Company87.co.uk" />
    <add key="Company88" value="info@Company88.co.uk" />
    <add key="Company89" value="info@Company89.co.uk" />
    <add key="Company91" value="info@Company91.co.uk" />
    <add key="Company92" value="info@Company92.co.uk" />
    <add key="Company93" value="info@Company93.co.uk" />
    <add key="Company94" value="info@Company94.co.uk" />
    <add key="Company95" value="info@Company95.co.uk" />
    <add key="Company96" value="info@Company96.co.uk" />
    <add key="Company97" value="info@Company97.co.uk" />
    <add key="Company98" value="info@Company98.co.uk" />
    <add key="Company99" value="info@Company99.co.uk" />


  </appSettings>
  
</configuration>